*{
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
}
/*Marging makes all the things in the centre*/
body{
font-size: 1.1rem;
text-align: justify;
margin-left: 30px;
margin-right: 20px;
max-width: 1000px;
justify-content: center;
}

h1{
    font-size: 1.6rem;
    text-align: left;
    color: rgb(47, 58, 143);
     font-family: "Playfair Display", serif;
   font-optical-sizing: auto;
   font-weight: weight 300;
   font-style: normal;
}
h2{
    font-size: 1.4rem;
    text-align: left;
    margin-top: 10px;
    font-family: "Playfair Display", serif;
   font-optical-sizing: auto;
   font-weight: weight 300;
   font-style: normal;
   color: rgb(47, 58, 143);
}

.question{
  text-align: start;
  margin: 0 auto;
  padding: 15px;
  max-width: 100ch;
  border-width: 2px;
  border-style: dotted;
  border-color: rgb(255, 98, 0) ;
  border-radius: 20px;
  min-height: 2px;
  background-color:rgb(255, 229, 126) ;
  margin-block-start: 30px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
/*The font of qeustion and anser are different, to make the text more readable */
.answer{
  text-indent: 20px;
  text-align: start;
  margin: 0 auto;
  padding: 15px;
  max-width: 120ch;
  /*max-width different from the answer box, which make them looks like have same length */
  border-width: 3px;
  border-style: dotted;
  border-color: rgb(47, 58, 143) ;
  border-radius: 20px;
  min-height: 2px;
  background-color:rgb(241, 241, 241) ;
  margin-top: 10px;
  margin-bottom:20px;
}
/* I want to make the box looks like text bubble, 
so i chose adding the boder-radius to the box*/
/* Also To make the text clear, i added text-indent to show the start of a long text*/

li{
  background-color:rgb(241, 241, 241) ;
  margin: 10px;
  text-align: justify;
  padding-left:10px;
}