*{
    color: lightpink;
}

h1{
    color: brown;
}
h3{
    color: chocolate;
}


.bule-color{
    color: blue;
}

#pink-color{
    color:lightpink;
}
/*
p{
    color: blue;
   font-weight: bold ;
}
li{
    color: darkblue;
}
/*
/*
curly braces {}
parenthese <>
square brackets []
round brackets ()
colon :
semicolon ;
syntax: rules of the lang
/*